<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Layout - CSS Utilities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
      <ion-row>
        <ion-col text-start>
            <div>
              <h3>START</h3>
              <p>Neste curso você irá aprender os componentes do IONIC 4, Neste curso você irá aprender os componentes do IONIC 4
                  ,Neste curso você irá aprender os componentes do IONIC 4, Neste curso você irá aprender os componentes do IONIC 4
                </p>
            </div>
        </ion-col>
        <ion-col text-center>
            <div>
              <h3>CENTER</h3>
              <p>Neste curso você irá aprender os componentes do IONIC 4, Neste curso você irá aprender os componentes do IONIC 4
                  ,Neste curso você irá aprender os componentes do IONIC 4, Neste curso você irá aprender os componentes do IONIC 4
                </p>
            </div>
        </ion-col>
        <ion-col text-justify>
            <div>
              <h3>JUSTIFY</h3>
              <p>Neste curso você irá aprender os componentes do IONIC 4, Neste curso você irá aprender os componentes do IONIC 4
                  ,Neste curso você irá aprender os componentes do IONIC 4, Neste curso você irá aprender os componentes do IONIC 4
                </p>
            </div>
        </ion-col>     

        <ion-col text-wrap>
            <div>
              <h3>WRAP</h3>
              <p>Neste curso você irá aprender os componentes do IONIC 4, Neste curso você irá aprender os componentes do IONIC 4
                ,Neste curso você irá aprender os componentes do IONIC 4, Neste curso você irá aprender os componentes do IONIC 4
              </p>
            </div>
        </ion-col> 
        <ion-col text-nowrap>
            <div>
              <h3>NOWRAP</h3>
              <p>Neste curso você irá aprender os componentes do IONIC 4, Neste curso você irá aprender os componentes do IONIC 4
                ,Neste curso você irá aprender os componentes do IONIC 4, Neste curso você irá aprender os componentes do IONIC 4
              </p>
            </div>
        </ion-col> 
        
                
        <ion-col text-right>
            <div>
              <h3>RIGHT</h3>
              <p>Neste curso você irá aprender os componentes do IONIC 4, Neste curso você irá aprender os componentes do IONIC 4
                  ,Neste curso você irá aprender os componentes do IONIC 4, Neste curso você irá aprender os componentes do IONIC 4
                </p>
            </div>
        </ion-col>          
   

                
        <ion-col text-left>
            <div>
              <h3>LEFT</h3>
              <p>Neste curso você irá aprender os componentes do IONIC 4, Neste curso você irá aprender os componentes do IONIC 4
                  ,Neste curso você irá aprender os componentes do IONIC 4, Neste curso você irá aprender os componentes do IONIC 4
                </p>
            </div>
        </ion-col>          
   
        <ion-col text-uppercase>
            <div>
              <h3>UPERCASE</h3>
              <p>Neste curso você irá aprender os componentes do IONIC 4, Neste curso você irá aprender os componentes do IONIC 4
                  ,Neste curso você irá aprender os componentes do IONIC 4, Neste curso você irá aprender os componentes do IONIC 4
                </p>
            </div>
        </ion-col>    

        <ion-col text-lowercase>
            <div>
              <h3>LOWERCASE</h3>
              <p>Neste curso você irá aprender os componentes do IONIC 4, Neste curso você irá aprender os componentes do IONIC 4
                  ,Neste curso você irá aprender os componentes do IONIC 4, Neste curso você irá aprender os componentes do IONIC 4
                </p>
            </div>
        </ion-col>  

        <ion-col text-capitalize>
            <div>
              <h3>capitalize</h3>
              <p>Neste curso você irá aprender os componentes do IONIC 4, Neste curso você irá aprender os componentes do IONIC 4
                  ,Neste curso você irá aprender os componentes do IONIC 4, Neste curso você irá aprender os componentes do IONIC 4
                </p>
            </div>
        </ion-col> 
      </ion-row>
  </ion-grid>

  <div text-sm-left text-md-center text-lg-right>
    <h3>RESPONSIVIDADE</h3>
    <p>SM left</p>
    <p>MD center</p>
    <p>LG right</p>
  </div>
  
</ion-content>