<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>layout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Layout</h1>

  <ion-button expand="full" (click)="presentToast()">botão 1</ion-button>
  <ion-button expand="full" (click)="presentToastWithOptions()">botão 2</ion-button>
  <ion-button expand="full" (click)="onClick()">Click me</ion-button>
  <ion-button expand="full" download (click)="download()">Download</ion-button>
  <ion-button expand="full" (click)="goToPage('instalacao')">ir para Instalação</ion-button>

  <br>
  <ion-button expand="full" color="success" (click)="goToPage('layout-headerfooter')">HEADER AND FOOTER</ion-button>
  <ion-button expand="full" color="primary" (click)="goToPage('layout-tabs')">TABS</ion-button>
  <ion-button expand="full" color="warning" (click)="goToPage('layout-menu')">MENU</ion-button>
  <ion-button expand="full" color="danger" (click)="goToPage('layout-splitpane')">SPLIT PANE</ion-button>
  <ion-button expand="full" color="primary" (click)="goToPage('layout-grid')">GRIDS</ion-button>
  <ion-button expand="full" color="warning" (click)="goToPage('layout-estilo')">CSS UTILITIES</ion-button>

</ion-content>